app-home
    dislay: flex
    flex-direction: column
    header
        display: flex
        justify-content: space-between
        background: #00D8FF
        mat-selection-list
            padding: 0px!important
            display: flex!important
            .header-category_link
                position: absolute
                left: 0
                right: 0
                top: 0
                bottom: 0
    .home-wrapper
        // background: #3B4461
        padding: 30px 15px 0px 15px
        display: flex
        min-height: 500px