 
<!-- <user-popup> -->
    
    <section class="container" id="popUpForm" >

        <ng-container *ngIf="phonePopupOn">
            <span class="user-popup_close"></span>

            <ng-container *ngIf="formSend; else formForSubmitTemplate">
                <div class="phone-popup_success">
                    <ng-lottie [options]="options"
                        [width]="250"
                        [height]="250">
                    </ng-lottie>
                    <!-- <h2 class="success-title">{{popupStaticContent[sharedService.language].success.title}}</h2>
                    <span class="success-description">{{popupStaticContent[sharedService.language].success.desc}}</span> -->
                </div>
            </ng-container>

            <ng-template #formForSubmitTemplate>
                <h2 class="user-popup_title">{{formType + ' user' }}</h2>
                <span class="user-popup_info">userId: {{currentUser.id}}</span>
                <form [formGroup]="userPopupForm" class="user-popup_form">
                    <label for="nameInput" [ngClass]="{'invalid': userPopupForm.controls.nameInput.status === 'INVALID'}">Name required</label>
                    <input class="form-control"
                        formControlName="nameInput" 
                        autocomplete="off" 
                        matInput
                        [placeholder]="'username'"
                    >
                    <label for="emailInput" [ngClass]="{'invalid': userPopupForm.controls.emailInput.status === 'INVALID'}">Email required</label>
                    <input class="form-control"
                        formControlName="emailInput" 
                        autocomplete="off" 
                        matInput
                        [placeholder]="'email'"
                    >
                    <label 
                    for="passwordInput"
                    [ngClass]="{'invalid': userPopupForm.controls.passwordInput.status === 'INVALID'}">Password required</label>
                    <input class="form-control"
                        formControlName="passwordInput" 
                        autocomplete="off" 
                        matInput
                        type="password"
                        [placeholder]="'password'"
                    >
                    <span class="password-helper" *ngIf="formType === 'edit'">Enter password only if you want to change</span>
                    
                    <div class="form_toggle">
                        User status: 
                        <div class="form_toggle-item item-1">
                            <input id="fid-1" type="radio" name="statusInput" value="inactive" formControlName="statusInput">
                            <label for="fid-1">Inactive</label>
                        </div>
                        <div class="form_toggle-item item-2">
                            <input id="fid-2" type="radio" name="statusInput" value="active" formControlName="statusInput" >
                            <label for="fid-2">Active</label>
                        </div>
                    </div>

                    <div class="form_toggle">
                        User role: 
                        <div class="form_toggle-item item-3">
                            <input id="fid-3" type="radio" name="roleInput" value="admin" formControlName="roleInput" checked>
                            <label for="fid-3">admin</label>
                        </div>
                        <div class="form_toggle-item item-3">
                            <input id="fid-4" type="radio" name="roleInput" value="advertiserManager" formControlName="roleInput" >
                            <label for="fid-4">advertiserManager</label>
                        </div>
                        <div class="form_toggle-item item-3">
                            <input id="fid-5" type="radio" name="roleInput" value="affiliateManager" formControlName="roleInput" >
                            <label for="fid-5">affiliateManager</label>
                        </div>
                    </div>
                    
                    <button class="user-popup_btn"
                        [ngClass]="{'disabled': !userPopupForm.valid}"
                        [disabled]="!userPopupForm.valid" 
                        (click)="submit()">
                    submit</button>
                </form>
            </ng-template>
        </ng-container>
    </section>

<!-- </user-popup> -->   